@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    color: #ffffff;
    background: #040e2c;
}

.password-data {
    padding: 1rem;
    background-color: #091740;
}

.selection-container {
    width: 400px;
    margin: 0 auto;
}

.selection-inner-container {
    display: flex;
    justify-content: space-between;
}

.label {
}
